<html  >
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.css">
    </head>
    <body ng-app="App" ng-strict-di ng-cloak>
          <div class="panel-group" id="accordion" ng-controller='AccountController'>
             <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Add account
            </button>
                <md-button class="md-primary md-raised" ng-click="showPrompt($event)">
                Add account
                </md-button>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Creating account</h4>
                        </div>
                    <div class="modal-body">
                        <div id="newAcc">
                            Name: <input type="text" ng-model="name" required name-directive>
                            Age: <input type="number" ng-model="age" required age-directive>
                            Gender: <select ng-model="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    </select>
                                    
                            Phone number: <input type="text" ng-model="phone" require phone-directive >
                            Email: <input type="text" ng-model="email">
                            Login: <input type="text" ng-model="login" >
                            <div ng-repeat="message in messages">
                                {{message}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" >Save changes</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default account" ng-repeat="(id,person) in accounts">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div data-toggle="collapse" data-parent="#accordion" data-target=#{{id}}>
                            <div class="account ng-cloak" >
                                <img src={{person.avatarUrl}}> </img>
                                <p> Id: {{id}} </p>
                                <p> Name: {{person.name}}</p>
                                <p> Email: {{person.email}}</p>
                                <p> Login: {{person.login}}</p>
                            </div>
                        </div>
                    </h4>
                </div>
                    <div id={{id}} class="panel-collapse collapse">
                    <div class="panel-body">
                        <p> Gender: {{person.gender}}</p>
                        <p> Age: {{person.age}}</p>
                        <p> Phone number: {{person.phoneNumber}}</p>

                    </div>
                </div>
            </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <!--<script src="modules/ui-bootstrap-1.2.2.min.js"></script>-->
    
    
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"> </script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"> </script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>



    <script src="script/App.js"> </script>
    <script src="script/service/AccountManagement.js"> </script>
    <script src="script/controller/DialogController.js"></script>
    <script type="text/ng-template" id="AccountCreation.tmpl.html">
    
    <md-dialog aria-label="Creating account">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Creating account</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div id="newAcc">
                            Name: <input type="text" ng-model="name" required name-directive>
                            Age: <input type="number" ng-model="age" required age-directive>
                            Gender: <select ng-model="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    </select>
                                    
                            Phone number: <input type="text" ng-model="phone" require phone-directive >
                            Email: <input type="text" ng-model="email">
                            Login: <input type="text" ng-model="login" >
                            <div ng-repeat="message in messages">
                                {{message}}
                            </div>
                        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Cancel
      </md-button>
      <md-button ng-click="answer('useful')">
        Create account
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
    </script>
    <script src="script/controller/AccountController.js"> </script>
    
    <script src="script/directive/NameDirective.js"></script>
    <script src="script/directive/AgeDirective.js"></script>
    <script src="script/directive/PhoneDirective.js"></script>
    </body>
</html>