<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.css">
    </head>
    <body ng-app="App" ng-strict-di ng-cloak>
        <div class="panel-group" id="accordion" ng-controller='AccountController'>
            <md-button class="md-primary md-raised" ng-click="newAccount($event)">
                Add account
            </md-button>
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default" ng-repeat="person in accounts">
      
                    <uib-accordion-heading>
                                <div class="account ng-cloak" href="#/accounts/{{person.id}}">
                                    <img class="avatar" ng-src={{person.avatarUrl}}> </img>
                                    <p> Id: {{person.id}} </p>
                                    <p> Name: {{person.name}}</p>
                                    <p> Email: {{person.email}}</p>
                                    <p> Login: {{person.login}}</p>
                                </div>
                                <md-button class="md-raised" ng-click="modifyAccount($event, id)">
                                    Modify
                                </md-button>
                                <md-button class="md-raised" ng-click="deleteAccount($event, id)">
                                    Delete
                                </md-button>
                    </uib-accordion-heading>
                    
                        <div id={{id}}>
                            <p> Gender: {{person.gender}}</p>
                            <p> Age: {{person.age}}</p>
                            <p> Phone number: {{person.phoneNumber}}</p>
                        </div>
                </div>
            </uib-accordion>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"> </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"> </script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0/angular-material.js"></script>



    <script src="script/App.js"> </script>
    <script src="script/service/AccountService.js"> </script>
    <script src="script/service/DialogService.js"></script>
    <script src="script/controller/DialogController.js"></script>
    
   
    <script src="script/controller/AccountController.js"> </script>
    
    </body>
</html>