.avatar {
    max-height: 100px;
    max-width: 100px;
}

.account> p {
    padding: 10px;
}

.account {
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    width: 70%;
    background-color: rgb(194, 194, 214);
    border: none;
}

.ng-cloak {
    display: none !important;
}

.panel,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

md-button {
    background-color: rgb(63, 81, 181);
    margin: 15px;
}

div#newAcc> * {
    display: block;
    margin-bottom: 10px;
}

input.ng-pristine {
    background-color: white;
}

input.ng-invalid.ng-dirty {
    background-color: pink;
}

.activity {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
}